* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    /* Colors */
    --eggshell: #fafafa;
    --mine-shaft: #212121;
    --mercury: #e8e8e8;
    --mariner: #3A97D4;
    --genoa: #20A672;
    --mojo: #A44B34;
    --rajah: #F7CE74;

    /* Spacing */
    --double: calc(var(--default) * 2);
    --default: 3rem;
    --breather: 2rem;
    --half: calc(var(--default) / 2);
    --in-between: 1.25rem;
    --small: .5rem;

    --width: 45rem;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: var(--eggshell);
    color: var(--mine-shaft);
    font-size: 1.3rem;
    line-height: 1.5;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin: 0 auto;
}

/*
 * Basics
 */

p, ul, ol {
    max-width: var(--width);
}

h1, h2, h3, h4, h5 {
    line-height: 1.1;
}

a {
    display: inline-block;
    color: var(--mariner);
}

ul {
    margin-left: 2rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

img {
    max-width: 100%;
    object-fit: contain;
    vertical-align: middle; /* Remove unwanted space at the bottom inside figure elements */
}

figcaption {
    font-size:  1.2rem;
    color: #a2a2a2;
}

code {
    background: #e8e8e8;
    border-radius: 5px;
    padding: .2rem .5rem;
    font-size: .9rem;
    white-space: pre;
}

.block {
    display: block;
    overflow: auto;
    padding-left: 2rem;
    max-width: var(--width);
}

header {
    padding: var(--default);
    display: flex;
    align-items: center;
}

header img {
    max-width: 3rem;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li + li {
    margin-left: 2rem;
}

nav a {
    color: var(--mine-shaft);
    text-decoration: none;
}

.language-dropdown {
    margin-left: 3rem;
}

main {
    padding: var(--default);
}

main > * + * {
    margin-top: 2rem;
}

footer {
    border-top: solid 4px var(--rajah);
    display: flex;
    margin: 0 var(--default);
    padding: var(--default) 0;
    align-items: center;
}

footer p {
    line-height: 1;
}

footer * + * {
    margin-left: 1rem;
}

footer img {
    max-height: 24px;
    opacity: .5;
    transition: 200ms;
}

footer img:hover {
    opacity: 1;
}

aside {
    color: #454545;
    font-style: italic;
}

.button {
    background-color: var(--rajah);
    color: var(--mine-shaft);
    border-radius: 5px;
    padding: .5rem 2rem;
    text-decoration: none;
}

hr {
    outline: dotted red 1px;
}

/*
 * Mobile
 */

@media screen and (max-width: 60rem) {
    body {
        max-width: var(--width);
    }
}

@media screen and (max-width: 40rem) {
    body {
        font-size: 1.2rem;
        flex-direction: column;
        max-width: 100%;
    }

    header {
        padding: var(--half);
    }

    main {
        padding: var(--half);
    }

    footer {
        margin: 0 var(--half);
        padding: var(--half) 0;
    }
}

/* ~ The end ~ */