{% extends 'base.twig' %}

{% set title = 'Home' %}

{% block main %}
    <h1>Jug</h1>
    <p>This is a testing template</p>
    <ul>
    {% for page in site.select('tags') %}
        {% for tag in page.context['tags'] %}
            <li>{{ tag }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}
