{% extends 'base.twig' %}

{% set zee = 'zee' %}
{% set foo = [1, 2] %}
{% set bar = {'foo': 'bar'} %}
{% set til, bil = 'til', 'bil' %}
{% set lop = 'foo' ~ 'barz' %}

{% block main %}
  <h1>{{ title }}</h1>
{% endblock %}
