{% extends 'base.twig' %}

{% block main %}
    <h1>News</h1>
    <ul>
        {% for page in site.select('type', 'article') %}
            <li><a href="{{ page.getOutput(currentLocale).relativePath }}">{{ template.context.description }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
